<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Socialapolitiker.se - Ordbaserad statistik från Sveriges politiker</title>
</head>
<body>
	<main layout:fragment="main-content">
		<p class="home push--bottom">Här på socialapolitiker.se hittar du statistik framtagen av ord svenska politiker använder i sina twitterflöden. Välj parti och politiker i navigationsbaren ovan för att komma igång!</p>
		<p class="home">Den data som visas upp är sammanställd från politikernas egna twitter konton.</p>
	</main>
</body>
</html>