<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Socialapolitiker.se - Ordbaserad statistik från Sveriges politiker</title>
<meta name="description" content="Här hittar du de vanligaste orden Sveriges politiker använder på twitter. Socialapolitiker.se sammanställer data hämtad från svenska politikers twitterflöden." />
<meta name="keywords" content="socialapolitiker, sociala, politiker, politik, ordanalys, twitter" />
</head>
<body>
	<main layout:fragment="content">
		<div class="island">
			<h1>Välkommen till socialapolitiker.se!</h1>
	 		<p>
	 			Här hittar du de vanligaste orden Sveriges politiker använder på twitter.
	 			Vi hämtar data från svenska politikers twitterflöden och sammanställer statistik åt dig.
	 		</p>
	 		<p>
	 			Börja genom att välja parti i listan nedan eller sök bland politiker i menyn.
	 		</p>
 		</div>
 		<div class="island">
			<h1 class="page-title">Partier</h1><!-- 
		 --><a class="navigator js-ga-sender" th:each="party : ${parties}" th:href="'/parti/' + ${party.urlName}"
		       data-ga-category="index-nav"
			   th:attr="data-ga-action=${party.urlName}">
			   
				<span class="navigator__image-wrapper">
					<i th:class="'navigator__image party-icon-' + ${party.urlName}"></i>
				</span>
				<span class="navigator__text" th:text="${party.name}">{{party.name}}</span>
			</a><!--
	 --></div>
	</main>
	<div layout:fragment="politicians" th:remove="tag">
 		<div th:include="politician-nav :: render" th:with="politicians=${politicians}" th:remove="tag"></div>
	</div>
</body>
</html>