<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
	  <meta charset="UTF-8" />
		
	  <meta name="viewport" content="width=device-width, minimum-scale=1.0, zoom=1" />
	  
	  <title>Socialapolitiker.se - Ordbaserad statistik från Sveriges politiker</title>

	  <link rel="stylesheet" th:href="${beans.resourceHelper.resource('/css/style.css')}" />
	  <script th:src="${beans.resourceHelper.resource('/js/app.js')}" type="text/javascript" async="async"></script>
	  <script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
	<div class="site-wrapper">
		<header class="header">
			<h1 class="header__title">
				<a href="/">Socialapolitiker.se</a>
			</h1>
			<div class="header__ad">
				<!-- Top-ad -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-9380712090181626"
				     data-ad-slot="7775225593"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</header>
		<div class="grid">
			<div class="grid__item one-whole desk-three-quarters">
				<main layout:fragment="content" class="main-content"></main>
			</div><!-- 
		  --><div layout:fragment="aside" class="grid__item one-whole desk-one-quarter">
			
			</div>
		</div>
		<footer class="footer">
			<div>
				<em>
					Data sammanställdes 
					<span th:text="${beans.dateFormatter.formatDate(cacheGenerated)}">
						yyyy-MM-dd HH:mm</span>
				</em>
			</div>
			<div><a href="https://twitter.com/micke239" target="_blank">@micke239</a></div>
		</footer>
	</div>
	
	<!-- script is needed here due to stupid DOMReady browser reasons. See ready/ready.js -->
	<script type="text/javascript">
		/*<![CDATA[*/
		if (window.performance && performance.timing && performance.timing.navigationStart) {
			var now = new Date().getTime();
		  	var pageLoadTime = new Date().getTime() - performance.timing.navigationStart;
		  	console.log("DOMReady after " + pageLoadTime + " ms");
		}
		
		window.DOMIsReady = true;
		window.handleDOMIsReady && window.handleDOMIsReady();
		/*]]>*/
	</script>
  </body>
</html>