<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title th:text="'Statistik från ' + ${party.name} + ' - Socialapolitiker.se'"></title>
	<meta name="description" th:content="'Kolla in vilka ord svenska politiker från ' + ${party.name} + 'använder mest på twitter.'" />
	<meta name="keywords" th:content="'socialapolitiker, sociala, politiker, politik, ordanalys, twitter, ' + ${party.name}" />
</head>
<body>
	<main layout:fragment="content">
		<div class="island">
			<h1 class="page-title">
				<i th:class="'page-title__img party-icon-' + ${party.urlName}"></i>
				<span class="vertically-middle" th:text="${party.name}">Socialdemokraterna</span>
				<small th:text="'(' + ${party.politicians.size()} + ' politiker)'"></small>
			</h1>
		</div>
		<div class="grid">
			<div class="grid__item one-whole desk-one-half">
				<article th:include="word-data :: words-used" th:with="words=${tweetedWords}" />
			</div><!--
		 --><div class="grid__item one-whole desk-one-half">
				<article th:include="word-data :: popular-words" th:with="popularWords=${popularWords}" />
			</div>
		</div>
	</main>
	<div layout:fragment="politicians" th:remove="tag">
 		<div th:include="politician-nav :: render" th:with="politicians=${politicians},party=${party}"></div>
	</div>
</body>
</html>