<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>Socialapolitiker.se - Ordbaserad statistik från Sveriges politiker</title>
</head>
<body>
	<main layout:fragment="content">
		<h1 class="page-title" th:text="${party.name}">Socialdemokraterna</h1>
		<div class="grid">
			<div class="grid__item one-whole lap-one-whole desk-three-fifths">
				<article th:include="word-data :: words-used" th:with="words=${tweetedWords}" />
			</div><!--
		 --><div class="grid__item one-whole lap-one-whole desk-two-fifths">
				<article th:include="word-data :: popular-words" th:with="popularWords=${popularWords}" />
			</div>
		</div>
	</main>
	<aside layout:fragment="aside">
 		<div class="islet" th:include="politician-nav :: render" th:with="politicians=${party.politicians}"></div>
	</aside>
</body>
</html>