<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title th:text="'Statistik från ' + ${politician.name} + ', ' + ${party.name} + ' - Socialapolitiker.se'"></title>
	<meta name="description" th:content="'Kolla in vilka ord ' + ${politician.name.trim()} + ' (@' + ${politician.twitterScreenName} + '), politiker från ' + ${party.name} + ', använder mest på twitter.'" />
		<meta name="keywords" th:content="'socialapolitiker, sociala, politiker, politik, ordanalys, twitter, ' + ${party.name} + ', ' + ${politician.name}" />
</head>
<body>
	<main layout:fragment="content">
		<div class="island">
			<h1 class="page-title">
				<img class="page-title__img--round-corners" th:if="${politician.profileImageUrl}" th:src="${politician.profileImageUrl}" />
				<span class="vertically-middle" th:text="${politician.name}">Anders Schröde</span>
				<small class="vertically-middle">
					<a class="js-ga-sender"
						data-ga-category="poltician"
						data-ga-action="twitter-link"
						th:attr="data-ga-label=${politician.twitterScreenName}"
						th:href="'http://www.twitter.com/' + ${politician.twitterScreenName}" 
						th:text="'(@' + ${politician.twitterScreenName} + ')'"
						target="_blank"></a>
				</small>
			</h1>
			<p th:if="${politician.description}" th:utext="${beans.htmlHelper.convertUrlsToAnchors(politician.description)}">
			
			</p>
		</div>
		<div class="grid">
			<div class="grid__item one-whole desk-one-half">
				<article th:include="word-data :: words-used" th:with="words=${tweetedWords}" />
			</div><!--
		 --><div class="grid__item one-whole desk-one-half">
				<article th:include="word-data :: popular-words" th:with="popularWords=${popularWords}" />
			</div>
		</div>
	</main>
	<div layout:fragment="politicians" th:remove="tag">
 		<div th:include="politician-nav :: render" th:with="politicians=${politicians},party=${party}"></div>
	</div>
</body>
</html>