@mixin define-breakpoint($name) {
	@include media-query($name) {
		&:after {
			content: '' + $name;
			display: none;
		}
	}
}

html, body {
	height: 100%;
}

body {
	font-family:$font-family;
	@include font-size(16px);
	background-color: $body-background;
	color: #333;
	
	@include media-query(lap-and-up) {
		padding-top: 0;
		@include font-size(14px);
	}
	
	@each $media in palm lap desk {
		@include define-breakpoint($media);
	}
}

h1, h2, h3, h4, h5, h6, .alpha, .beta, .gamma, .delta, .epsilon, .zeta {
	font-weight: 100;
}

h2, .beta {
	margin-bottom: $base-spacing-unit;
}

a {
	&, &:visited, &:hover {
		color: inherit;
		font-weight: bold;
	}

	&, &:visited {
		text-decoration: none;
	}

	&:hover {
		text-decoration: underline;
	}
	
}