.header {
	padding: $base-spacing-unit*2;
	text-align: center;
	
	%link-style {
		font-weight: 100;
		color: $brand-primary;
		text-decoration: none;
		
		&:hover {
			color: $brand-dark;
		}
	}

	&__title {
		margin-bottom: $half-spacing-unit;

		& > a {
			@extend %link-style;
		}
	}
	
	&__link-wrapper {
		@include media-query(lap-and-up){
			text-align: right;
		}
	}
	
	&__link {
		@extend .gamma;
		@extend %link-style;
		margin-right: $base-spacing-unit;
		
		&:last-child {
			margin-right: 0;
		}
		
		@include media-query(lap-and-up){
			padding-left: $half-spacing-unit;
			margin-right: 0;
			
			&:after {
				content: '|';
				padding-left: $half-spacing-unit;
				color: $brand-primary;
			}
			
			&:first-child {
				padding-left: 0;
			}
			
			&:last-child {
				&:after {
					padding-left: 0;
					content: "";
				}
			}
		}
	}
	
	//lap-and-up specific styling
	@include media-query(lap-and-up) {
		text-align: left;
	}
}