.header {
	padding: $base-spacing-unit*2;
	text-align: center;
	
	@include media-query(desk) {
		display: table;
	}
	
	%link-style {
		font-weight: 100;
		color: $brand-primary;
		text-decoration: none;
		
		&:hover {
			color: $brand-dark;
		}
	}

	&__title {
		margin-bottom: $half-spacing-unit;

		& > a {
			@extend %link-style;
		}

		@include media-query(desk) {
			vertical-align: top;
			padding-right: $base-spacing-unit;
			display: table-cell;
		}
	}
	
	&__ad {
		& ins {
			text-decoration: none;
			border-bottom: 0;
		}
		
		@include media-query(desk) {
			display: table-cell;
			width:100%;
		}
	}
}