.hidden {
  display: none !important;
}

.vertically-middle {
	vertical-align: middle;
}

.centered {
	text-align: center;
}

.cut-box {
	position: relative;
	max-height: 250px;
	overflow: hidden;
	
	&:after {
		display: block;
		content: " ";
	    position: absolute; 
    	bottom: 0em;
    	width:100%;
    	height: 4em;
    	background: -webkit-linear-gradient(
       		 rgba(250, 250, 250, 0) 0%,
    		 rgba(250, 250, 250, 1) 100%
    	);
	}
}