$politician-nav-border-color: $brand-light;

.politician-nav {
	position: absolute;
	top: $base-spacing-unit * 4.5;
	right: 0;
	width: 100%;
	background: white;
	padding: $base-spacing-unit;
	min-height: 100%;
	display: block;
	transition: opacity 0.5s, visibility 0.5s;
	
	@include media-query(desk) {
		display: block;
		position: static;
		padding: 0;
		min-height: auto;
		transition: none;
	}
	
	&.inactive {
		min-height: none;
		height: 1px;
		visibility: hidden;
		opacity: 0;
		overflow: hidden;
		transition: opacity 0.5s, visibility 0.5s, height 0s linear 0.5s;
		
		@include media-query(desk) {
			opacity: 1;
			height: auto;
			visibility: visible;
			transition: none;
			overflow: inherit;
		}
	}
	
	&__menu-button {
		position: absolute;
		top: 0;
		right: 0;
		font-size:30px;
		width: 45px;
		height:45px;
		padding: $half-spacing-unit;
		text-align: right;
		
		& > i {
			vertical-align: top;
		}
		
		@include media-query(desk) {
			display: none;
		}
	}

	&__list {
		margin-left: 0;
		list-style-type: none;
		border: 1px solid $politician-nav-border-color;
		border-bottom: none;
		max-height: none;
		
		@include media-query(desk) {
			transition: max-height 0.5s;
			overflow:hidden;
			max-height:300px;
		}
		
		// hack to remove fade-bottom on mobile
		&:after {
			content: none;
			
			@include media-query(desk) {
				content: " ";
			}
		}
	}
	
	&__item {
		padding: 4px 4px 4px 9px;
		background: $brand-lightest;
		border-bottom: 1px solid $politician-nav-border-color;
		display:block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		
		&:hover, &:hover &__text {
			background: inherit;
			text-decoration: none;
		}
	}
	
	&__more {
		text-align: center;
		display: none;
		
		@include media-query(desk) {
			display: block;
		}
	}
}

@-webkit-keyframes fadeIn {
    0% {
        display:none; 
        opacity: 0;
    }

    1% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: block ; 
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        display:block; 
        opacity: 1;
    }

    99% {
        display: block ; 
        opacity: 0;
    }

    100% {
        display: none ; 
        opacity: 0;
    }
}