$politician-nav-border-color: $brand-light;

.politician-nav {
	position: absolute;
	
	width: 100%;
    background: white;
    padding: 18px;
	padding-top: 61px;
	left: 0;
	
	//start hidden
	top: -1100px;
    max-height: 900px;
    overflow: hidden;
    
    z-index: 9999999;
    
    border-bottom: 1px solid #ccc;
    
    @include media-query(lap-and-up) {
	  width: 400px;
	  left: auto;
	  right: $base-spacing-unit;
	  overflow: hidden;
	  padding: 0;
      margin-top: 48px;
      padding-top: $base-spacing-unit;
      border-bottom: 0;
	}
	
	.politician-nav__wrapper {
		
	    @include media-query(lap-and-up) {
		    padding: $base-spacing-unit;
		    border: 1px solid #ccc;
		    position: relative;
		    
			&:after, &:before {
				bottom: 100%;
				left: 341px;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}
		
			&:after {
				border-color: rgba(255, 255, 255, 0);
				border-bottom-color: #fff;
				border-width: 18px;
				margin-left: -18px;
			}
			
			&:before {
				border-color: rgba(204, 204, 204, 0);
				border-bottom-color: #ccc;
				border-width: 19px;
				margin-left: -19px;
		    }
		    
		    &.politician-nav__wrapper--party {
		    	&:after, &:before {
		    		left: 235px;
		    	}
		    }
	    }
    }
	
	&__list {
		margin-left: 0;
		list-style-type: none;
		border: 1px solid $politician-nav-border-color;
		border-bottom: 0;
	}
	
	&__item {
		padding: 4px 4px 4px 9px;
		background: $brand-lightest;
		border-bottom: 1px solid $politician-nav-border-color;
		display:block;
		
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		
		&:hover, &:hover &__text {
			background: inherit;
			text-decoration: none;
		}
		
	}
}