.search {
	width: 100%;
	margin-bottom: $half-spacing-unit;
	padding: $half-spacing-unit / 2;
	padding-left: $half-spacing-unit;
	cursor: text;
	font-size: 16px;

	@include media-query(desk) {
		font-size: 14px;
	}
}