.tweet-words {

	overflow: hidden;
	transition: max-height 0.5s;

	&__word-col {
		@extend .two-fifths;
			
		padding: $half-spacing-unit;
	}

	&__word {
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 100%;
		white-space: nowrap;
	}

	&__bar-col {
		@extend .three-fifths;
		padding: $half-spacing-unit;
	}

	&__bar {
		height: 100%;
		vertical-align: middle;
		display: inline-block;
		background: $brand-primary;
	}
}