/*** 
 * VARS
 */
$base-spacing-unit: 18px;
$half-spacing-unit: 9px; 


//$brand-primary:           #AEA8D3; //WISTFUL
$brand-primary:           #EF4836; //FLAMINGO

$brand-darkest: 		  darken($brand-primary, 60%);
$brand-darker:            darken($brand-primary, 40%);
$brand-dark:              darken($brand-primary, 20%);
//$brand-light:             lighten($brand-primary, 10%);
//$brand-lighter:           lighten($brand-primary, 23%);
//$brand-lightest:          lighten($brand-primary, 24.5%);
$brand-light:             lighten($brand-primary, 10%);
$brand-lighter:           lighten($brand-primary, 38%);
$brand-lightest:          lighten($brand-primary, 40%);

$almost-white: #fafafa;
$brand-success:        	#87D37C; //GOSSIP
$brand-info:            #81CEE0; //SPRAY
$brand-warning:         #F5D76E; //CREAM CAN
$brand-danger:          #EF4836; //FLAMINGO

$body-background: #F2F1EF;
$content-background: #fafafa;

$font-family: Avenir, "open sans",Helvetica,Arial,sans;
$font-color-dark: #333; 
$font-color-light: #eee; 

$use-grids:         true;
$use-flexbox:       true;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;

/**
 * Tell inuit.css when breakpoints start.
 */
$lap-start:         768px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;





/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           30px!default; // .alpha
$h2-size:           24px!default; // .beta
$h3-size:           20px!default; // .gamma
$h4-size:           18px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;
